/*
Team member's notes goes over here:



*/

$main_back_color: #faf6f2;
$main_border_radius: 5px;
$main_border_width: 1px;
$main_button_color: rgba(255, 201, 115, 0.938);
$microsoft_green: #7FBA00;
$google_red: #de5246;
$facebook_blue: #4267B2;
$highlight_gold: rgb(185, 82, 2);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 130;
}

body {
    /* Defining properties that will be common to the all the elements of the body */
    padding: 0;
    margin: 0;

    /* Defining Navigation Bar here */
    nav {
        height: 8vh;
        width: 100%;
        z-index: 99;
        /* Setting the highest z-index to keep it on top of all the elements who also have postition:absolute */

        position: fixed;
        overflow: hidden;

        top: 0;
        background-color: #F8C165;
        transition: 0.5s;

        div.div-nav-menu-items {
            height: 100%;
            max-height: 100%;
            display: flex;
            align-items: center;
            justify-content: right;

            ul {
                list-style: none;
                /* To remove the bullets in front of the nav menu items */
                position: absolute;

                li {
                    text-decoration: none;
                    display: inline-block;
                    /* To display the li items next to each other */
                    padding: 1vh;
                }
            }
        }
    }

    button {
        border-color: black;
        border-width: $main_border_width;
        border-radius: $main_border_radius;
        background-color: $main_button_color;
    }

    button:hover {
        filter: brightness(110%);
    }

    input {
        padding-left: 10px;
        padding-right: 10px;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    a:hover {
        color: $highlight_gold;
    }

    .line-break {
        border: 10 solid black;
    }

    .error-message {
        color: red;
    }


    section.section-01-log-in {
        display: flex;
        /* As there will be cards inside */
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        /* Very important for designing the content which doesn't fits */
        align-items: center;

        position: absolute;
        height: 92vh;
        width: 100%;
        background-color: $main_back_color;
        transform: translateY(8vh);

        h1 {
            margin-bottom: 0.5em;
        }

        h5 {
            margin-top: 0.5em;
            margin-bottom: 1em;
        }

        #log-in-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;

            min-height: 60vh;
            min-width: 40vw;
            border-style: solid;
            border-width: thin;
            border-color: black;
            border-radius: 5px;
            margin-top: 0.5em;
            padding: 1.5em;

            h1 {
                margin: 0;
            }

            h5 {
                margin: 0.5em;
            }

            #default-log-in {
                form {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;

                    text-align: center;

                    input {
                        margin-top: 0.7em;
                        margin-bottom: 0.7em;
                        margin-left: 0.7em;
                        margin-right: 0.7em;
                        min-height: 2.5em;
                        min-width: 23em;
                    }

                    h6 {
                        font-size: 0.6em;
                    }

                    #log-in-submit {
                        border-color: black;
                        border-width: $main_border_width;
                        border-radius: $main_border_radius;
                        background-color: $main_button_color;
                    }

                    #log-in-submit:hover {
                        filter: brightness(110%);
                    }
                }
            }

            #provider-log-in {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;

                width: 100%;

                button {
                    margin-top: 0.7em;
                    margin-bottom: 0.7em;
                    margin-left: 0.3em;
                    margin-right: 0.3em;
                    height: 2.5em;
                    width: 11em;
                }

                #microsoft-log-in {
                    background-color: $microsoft_green;
                }

                #google-log-in {
                    background-color: $google_red;
                }

                #facebook-log-in {
                    background-color: $facebook_blue;
                }
            }

            margin-bottom: 2em;
        }

        .line-break {
            width: 50%;
            text-align: center;
            border-bottom: 1px solid grey;
            line-height: 0.1em;

            span {
                background: $main_back_color;
                padding-left: 2em;
                padding-right: 2em;
            }
        }

        #switch-to-sign-up {
            margin-top: 2em;
            height: 2.5em;
            width: 23em;
            background-color: $main_button_color;
        }
    }

    section.section-02-sign-up {
        display: flex;
        /* As there will be cards inside */
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        /* Very important for designing the content which doesn't fits */
        align-items: center;

        position: absolute;
        height: 92vh;
        width: 100%;
        background-color: $main_back_color;
        transform: translateY(8vh);

        h1 {
            margin-bottom: 0.5em;
        }

        h5 {
            margin-top: 1em;
            margin-bottom: 1em;
        }

        #sign-up-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;

            min-height: 60vh;
            min-width: 40vw;
            border-style: solid;
            border-width: thin;
            border-color: black;
            border-radius: $main_border_radius;
            padding: 1.5em;

            h1 {
                margin: 0;
            }

            h5 {
                margin: 0.5em;
            }

            #default-sign-up {
                form {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;

                    text-align: center;

                    input {
                        margin-top: 0.7em;
                        margin-bottom: 0.7em;
                        margin-left: 0.7em;
                        margin-right: 0.7em;
                        min-height: 2.5em;
                        min-width: 23em;
                    }

                    h6 {
                        font-size: 0.6em;
                        margin: 0;
                    }

                    #sign-up-submit {
                        border-color: black;
                        border-width: $main_border_width;
                        border-radius: $main_border_radius;
                        background-color: $main_button_color;
                    }

                    #sign-up-submit:hover {
                        filter: brightness(110%);
                    }
                }
            }

            #provider-sign-up {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;

                width: 100%;

                button {
                    margin-top: 0.7em;
                    margin-bottom: 0.7em;
                    margin-left: 0.3em;
                    margin-right: 0.3em;
                    min-height: 2.5em;
                    min-width: 11em;
                }

                #microsoft-sign-up {
                    background-color: $microsoft_green;
                }

                #google-sign-up {
                    background-color: $google_red;
                }

                #facebook-sign-up {
                    background-color: $facebook_blue;
                }
            }

            margin-bottom: 2em;
        }

        .line-break {
            width: 50%;
            text-align: center;
            border-bottom: 1px solid grey;
            line-height: 0.1em;

            span {
                background: $main_back_color;
                padding-left: 2em;
                padding-right: 2em;
            }
        }

        #switch-to-log-in {
            margin-top: 2em;
            height: 2.5em;
            width: 23em;
            background-color: $main_button_color;
        }

        #middle-row {
            display:flex;
        }

        .LatLng-container {
            display:flex;
            margin-left: 0.7em;
            margin-right: 0.7em;
            min-height: 2.5em;
            min-width: 23em;
        }

        .LatLng-container #latlng{
            min-height: 2.5em !important; 
            min-width: 11em !important;
        }
    }
;
    section.section-03-user-profile {
        display: flex;
        /* As there will be cards inside */
        justify-content: center;
        flex-wrap: wrap;
        /* Very important for designing the content which doesn't fits */

        position: absolute;
        height: 100vh;
        min-height: 100vh;
        width: 100vw;
        min-width: 100vw;
        background-color: $main_back_color;
        transform: translateY(8vh);

        div.user-profile-content {
            display: flex;
            flex-direction: column;
            margin: 5% auto auto;
            justify-content: center;
            align-items: center;

            background-color: $main_back_color;
            height: 80%;
            min-height: 609px;
            width: 85%;
            min-width: 871px;

            div.div-user-details {
                display: flex;
                flex-direction: row;
                margin-top: 0px;
                margin-bottom: auto;

                background-color: #4267B2;
                height: 25%;
                width: 100%;

                div.user-image {
                    display: flex;
                    /* top | right | bottom | left */
                    margin: auto 0vw auto 2vw;

                    justify-content: center;
                    align-items: center;

                    height: 15vh;
                    width: 8vw;
                    background-color: #F8C165;

                    img {
                        height: 100%;
                        width: 100%;
                    }
                }

                div.user-detail-items {
                    display: flex;
                    /* top | right | bottom | left */
                    margin: auto 2vw auto 2vw;
                    padding-left: 1em;

                    justify-content: left;
                    align-items: center;

                    height: 15vh;
                    width: 86vw;

                    background-color: #F8C165;

                    ul {
                        list-style: none;
                        /* To remove the bullets in front of the nav menu items */
                        position: absolute;

                        li {
                            text-decoration: none;
                            padding: 0.25em;
                        }
                    }

                }



            }

            div.nav-edit-user-and-view-restaurant-visit-history {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                margin-top: auto;
                margin-bottom: 0;
                overflow-y: auto;
                background-color: #F8C165;
                height: 75%;
                width: 100%;

                section.navbar {
                    display: flex;
                    position: sticky;
                    /* top | left+right | bottom */
                    margin-top: 0;
                    top: 0;

                    justify-content: right;
                    align-items: center;

                    height: 4em;
                    width: 100%;
                    background-color: #4267B2;

                    button {
                        /* top and bottom | left and right */
                        margin: 0.7em 0.3em;
                        height: 2.5em;
                        width: 10em;
                        background-color: #F8C165;
                    }

                    #button-logout {
                        margin-right: 2em;
                        background-color: #F8C165;
                    }
                }

                section.section-user-profile {
                    display: flex;
                    flex-direction: column;
                    /* top | left+right | bottom */
                    margin-top: 0;

                    height: auto;
                    width: 100%;
                    background-color: #4267B2;

                    div.div-edit-cancel-save {
                        display: flex;
                        justify-content: right;
                        width: 100%;

                        button {
                            /* top and bottom | left and right */
                            margin: 0.7em 0.3em;
                            height: 2.5em;
                            width: 7em;
                        }

                        #edit {
                            margin-left: 2em;
                            background-color: #F8C165;
                        }

                        #cancel {
                            margin-left: 0.3em;
                            margin-right: auto;
                            background-color: #de5246;
                        }

                        #save {
                            margin-right: 2em;
                            background-color: #7FBA00;
                        }

                    }

                    div.div-user-profile-content {
                        display: flex;
                        align-items: flex-start;
                        flex-direction: column;

                        margin: 0.3em 2em 2em;
                        padding: 1em 5em 1em;
                        width: auto;
                        height: 100%;
                        overflow-y: auto;


                        background-color: #7FBA00;

                        div.upload-photo {
                            display: grid;
                            grid-template-columns: max-content max-content;
                            grid-gap: 5px;
                            margin-top: 0.5em;
                            margin-bottom: 0.25em;

                            label {
                                display: flex;
                                text-align: right;
                                width: 10em;
                                align-items: center;
                            }

                            button {
                                height: 2.5em;
                                width: 7em;
                            }

                        }

                        div.username {
                            display: grid;
                            grid-template-columns: max-content max-content;
                            grid-gap: 5px;
                            margin-top: 0.25em;
                            margin-bottom: 0.25em;

                            label {
                                display: flex;
                                text-align: right;
                                width: 10em;
                                align-items: center;
                            }

                            input {
                                height: 2.5em;
                                width: 50vw;
                            }

                        }

                        div.first-name {
                            display: grid;
                            grid-template-columns: max-content max-content;
                            grid-gap: 5px;
                            margin-top: 0.25em;
                            margin-bottom: 0.25em;

                            label {
                                display: flex;
                                text-align: right;
                                width: 10em;
                                align-items: center;
                            }

                            input {
                                height: 2.5em;
                                width: 50vw;
                            }

                        }

                        div.last-name {
                            display: grid;
                            grid-template-columns: max-content max-content;
                            grid-gap: 5px;
                            margin-top: 0.25em;
                            margin-bottom: 0.25em;

                            label {
                                display: flex;
                                text-align: right;
                                width: 10em;
                                align-items: center;
                            }

                            input {
                                height: 2.5em;
                                width: 50vw;
                            }

                        }

                        div.add-on-email {
                            display: grid;
                            grid-template-columns: max-content max-content;
                            grid-gap: 5px;
                            margin-top: 0.25em;
                            margin-bottom: 0.25em;

                            label {
                                display: flex;
                                text-align: right;
                                width: 10em;
                                align-items: center;
                            }

                            input {
                                height: 2.5em;
                                width: 50vw;
                            }

                        }

                        div.password-div {
                            display: grid;
                            grid-template-areas:
                                'password-label-grid password-input-grid'
                                'password-label-grid re-enter-password-input-grid';
                            grid-gap: 5px;
                            margin-top: 1em;
                            margin-bottom: 0.25em;

                            label.password-label {
                                display: flex;
                                text-align: right;
                                align-items: center;
                                grid-area: password-label-grid;
                                width: 10em;

                            }

                            input.password-input {
                                height: 2.5em;
                                width: 50vw;
                                grid-area: password-input-grid;
                            }

                            input.re-enter-password-input {
                                height: 2.5em;
                                width: 50vw;
                                grid-area: re-enter-password-input-grid;
                            }

                        }



                    }




                }

                section.section-visited-restaurant {
                    display: flex;
                    flex-direction: column;
                    /* top | left+right | bottom */
                    margin-top: 0;

                    height: auto;
                    width: 100%;
                    background-color: #4267B2;

                    div.div-restaurant-list {
                        display: flex;

                        margin: 0.3em 2em 1em;
                        padding: 0 0.5em 0;
                        width: auto;
                        height: 25em;
                        justify-content: left;
                        align-items: center;
                        overflow-x: auto;

                        background-color: #7FBA00;

                        ul.restaurant-listing {
                            margin: 1em;
                            list-style: none;

                            li.user-image-li {
                                img {
                                    height: 5em;
                                    width: 5em;

                                }
                            }

                            li.label {
                                h6 {}

                            }
                        }



                    }

                    h3 {
                        margin-left: 2em;
                    }


                    div.div-by-self-restaurant-rating-details {
                        display: grid;

                        /* defining the column(s) covered by one grid per row. */
                        /* typing by-self-label 2x means that there are 2 columns.
                         and both the columns will be covered by the same element with the grid-area: by-self-label
                         */
                        grid-template-areas:
                            'by-self-label by-self-label'
                            'ratings-by-self reviews-by-self';
                        gap: 10px;
                        /* Setting the height of the first row (2em) and second row as auto */
                        grid-template-rows: 2em auto;

                        margin: 0.3em 2em 1em;
                        padding: 1em 5em 1em;
                        width: auto;
                        height: 100%;
                        overflow-y: auto;
                        background-color: #7FBA00;

                        div.ratings-reviews-by-self-label {
                            grid-area: by-self-label;
                            background-color: #faf6f2;
                        }

                        div.ratings-by-self-label {
                            grid-area: ratings-by-self;
                            background-color: #faf6f2;

                        }

                        div.reviews-by-self-label {
                            grid-area: reviews-by-self;
                            background-color: #faf6f2;
                        }









                    }

                    div.div-by-others-restaurant-rating-details {
                        display: grid;

                        /* defining the column(s) covered by one grid per row. */
                        /* typing by-others-label 2x means that there are 2 columns.
                         and both the columns will be covered by the same element with the grid-area: by-self-label
                         */
                        grid-template-areas:
                            'by-others-label by-others-label'
                            'ratings-by-others reviews-by-self'
                            'ratings-by-others reviews-by-self';

                        gap: 10px;
                        /* Setting the height of the first row (2em) and second row as auto.
                        This will repeat only first row. Repeating won't happen here.
                         */
                        grid-template-rows: 2em auto;

                        margin: 0.3em 2em 1em;
                        padding: 1em 5em 1em;
                        width: auto;
                        height: 100%;
                        overflow-y: auto;
                        background-color: #7FBA00;

                        div.ratings-reviews-by-others-label {
                            grid-area: by-others-label;
                            background-color: #faf6f2;
                        }

                        div.ratings-by-others-label {
                            grid-area: ratings-by-others;
                            background-color: #faf6f2;

                        }

                        div.reviews-by-others-label {
                            grid-area: reviews-by-self;
                            background-color: #faf6f2;
                        }









                    }

                    div.div-dish-details {
                        display: grid;

                        margin: 0.3em 2em 1em;
                        padding: 0 0.5em 0;
                        width: 100%;
                        height: 100%;
                        justify-content: left;
                        align-items: center;
                        overflow-x: auto;

                        background-color: #7FBA00;



                        h3 {
                            margin-top: 2em;
                        }

                        div.dish-one {

                            display: grid;

                            /* defining the column(s) covered by one grid per row. */
                            /* typing by-others-label 2x means that there are 2 columns.
                             and both the columns will be covered by the same element with the grid-area: by-self-label
                             */
                            grid-template-areas:
                                'dish-image-label dish-image-label dish-desc-ingredients-label dish-desc-ingredients-label dish-price-label dish-price-label'
                                'ratings-by-self-label ratings-by-self-label ratings-by-self-label reviews-by-self-label reviews-by-self-label reviews-by-self-label'
                                'ratings-by-others-label ratings-by-others-label ratings-by-others-label reviews-by-others-label reviews-by-others-label reviews-by-others-label';

                            gap: 10px;
                            /* Setting the height of the first row (2em) and second row as auto.
                            This will repeat only first row. Repeating won't happen here.
                             */

                            top: 150px;
                            /*Edited here */
                            bottom: 0;
                            /*Edited here */

                            margin-top: auto;
                            padding: 1em 5em 1em;
                            width: 100vw;
                            height: 50vh;
                            overflow-y: auto;

                            div.dish-image {
                                grid-area: dish-image-label;
                                background-color: #faf6f2;
                            }

                            div.dish-desc-ingredients {
                                grid-area: dish-desc-ingredients-label;
                                background-color: #faf6f2;

                            }

                            div.dish-price {
                                grid-area: dish-price-label;
                                background-color: #faf6f2;
                            }

                            div.ratings-by-self {
                                grid-area: ratings-by-self-label;
                                background-color: #faf6f2;
                            }

                            div.reviews-by-self {
                                grid-area: reviews-by-self-label;
                                background-color: #faf6f2;
                            }

                            div.ratings-by-others {
                                grid-area: ratings-by-others-label;
                                background-color: #faf6f2;
                            }

                            div.reviews-by-others {
                                grid-area: reviews-by-others-label;
                                background-color: #faf6f2;
                            }
                        }



                    }



                }



            }


        }





    }

    section.section-04-dashboard {
        display: flex;
        /* As there will be cards inside */
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        /* Very important for designing the content which doesn't fits */

        position: absolute;
        height: 92vh;
        width: 100%;
        background-color: $main_back_color;
        transform: translateY(8vh);
        text-align: center;
        padding-top: 1em;

        div {
            display: flex;
            justify-content: center;
            align-items: center;

            button {
                margin: 0 5vw;
                height: 15em;
                padding: 1em 1em;
                width: 30vw;

                h1,
                h4 {
                    margin-bottom: 0px;
                }
            }
        }
    }

    section.section-05-main-search-criterias {
        display: flex;
        /* As there will be cards inside */
        justify-content: flex-start;
        flex-wrap: wrap;
        /* Very important for designing the content which doesn't fits */
        flex-direction: column;
        align-items: center;

        position: absolute;
        min-height: 98vh;
        width: 100%;
        background-color: $main_back_color;
        transform: translateY(8vh);

        section.section-04-distance-to-location-repeating-components {
            display: flex;
            justify-content: center;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;

            margin-top: 2em;
            border-style: solid;
            border-width: thin;
            border-color: black;
            border-radius: $main_border_radius;
            width: 80vw;
            padding-top: 3em;
            padding-bottom: 3em;
            padding-left: 3em;
            padding-right: 3em;

            #distance-to-location-container {
                display: flex;
                justify-content: center;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
                width: 100%;

                input {
                    width: 80%;
                    padding: 0;
                    margin: 0;
                }
            }

            #ticks {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 80%;
                padding-left: 0.1em;
                padding-right: 0.1em;

                option {
                    padding: 0;
                    color: black;
                }
            }
        }

        #search-criteria-tabs-container {
            display: flex;
            justify-content: center;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;

            margin-top: 2em;
            border-style: solid;
            border-width: thin;
            border-color: black;
            border-radius: $main_border_radius;
            width: 80vw;
            padding-top: 2em;
            padding-bottom: 5em;
            padding-left: 3em;
            padding-right: 3em;
            margin-bottom: 2em;

            .criteria-tab {
                padding-top: 2em;
            }

            #search-criteria-tabs-tab-cuisine,
            #search-criteria-tabs-tab-dish {
                text-align: center;
                display: block;
                color: black;
                border-radius: $main_border_radius;
                margin-left: 1em;
                margin-right: 1em;
                border: none;
                width: 20vw;
            }

            #search-criteria-tabs-tab-cuisine.active,
            #search-criteria-tabs-tab-dish.active {
                color: rgb(203, 135, 8);
                border: none;
                background: rgba(0, 0, 0, 0)
            }

            #cuisine-search-instructions {
                width: 100%;
                text-align: left;
                padding-left: 7.5em;
                padding-right: 7.5em;
            }

            #cusines-with-button {
                display: flex;
                justify-content: flex-start;
                flex-direction: row;
                align-items: center;

                a {
                    width: 23em;
                    height: 10em;
                    margin-right: 1em;

                    #generate-results-from-cuisines {
                        width: 12em;
                        height: 10em;
                        margin-right: 1em;
                    }
                }
            }

            #search-bar-dish-name-container {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                width: 70vw;

                input {
                    height: 2.5em;
                    width: 60vw;
                    margin-bottom: 2em;
                    border-radius: 20px;
                    border-width: 1px;

                    text-align: center;
                }

                div {
                    display: flex;
                    justify-content: space-around;
                    flex-direction: row;
                    align-items: center;
                    width: 90%;

                    #chosen-dishes-and-generate {
                        background-color: rgba(255, 0, 0, 0.8);
                        border-radius: 20px;
                        width: 95%;

                        #chosen-dishes-display {
                            max-width: 35em;
                            height: 10em;
                            padding-left: 1.5em;
                            padding-right: 1.5em;

                            div {
                                background-color: #E8CB0A;
                                border-radius: $main_border_radius;
                                margin-left: 1em;
                                margin-right: 1em;
                                padding: 1em;

                                p {
                                    text-align: center;
                                    color: white;
                                    margin: 0;
                                }
                            }
                        }

                        a {
                            #generate-results-from-dishes {
                                max-width: 18em;
                                height: 8em;
                                padding-left: 1.5em;
                                padding-right: 1.5em;
                            }
                        }
                    }
                }

                #matching-dishes-container {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;

                    h4 {
                        margin-top: 2em;
                        margin-bottom: 1em;
                        text-align: center;
                    }

                    #dishes-block {
                        display: flex;
                        justify-content: center;
                        flex-direction: row;
                        align-items: center;
                        flex-wrap: wrap;
                        align-items: center;

                        max-width: 50em;
                        margin: 0;

                        p {
                            margin-top: 1em;
                            margin-bottom: 1em;
                            margin-left: 1em;
                            margin-right: 1em;
                        }
                    }
                }
            }

            #cuisines-block {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                flex-direction: row;
                align-items: center;
            }

            #search-bar-dish-name {
                width: 50vw;
            }
        }
    }

    section.section-05-cuisine-box {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

        width: 10em;
        height: 10em;
        background-color: #ff3535;
        margin: 1em;
        border-radius: $main_border_radius;
        color: white;

        img {
            max-width: 90%;
            max-height: 60%;
        }
    }

    section.section-06-dish-box {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

        max-width: 20em;
        min-width: 8em;
        background-color: #ff3535;
        margin: 1em;
        border-radius: $main_border_radius;
        color: white;
    }

    section.section-06-restaurant-results {
        display: flex;
        /* As there will be cards inside */
        justify-content: center;
        flex-wrap: wrap;
        /* Very important for designing the content which doesn't fits */
        align-items: center;
        flex-direction: column;

        position: absolute;
        height: 92vh;
        width: 100%;
        background-color: $main_back_color;
        transform: translateY(8vh);

        h1 {
            font-size: 7vh;
        }

        img {
            height: 15em;
        }

        #restaurant-results-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            flex-direction: row;

            height: auto;
            width: 100vw;

            div {
                display: flex;
                height: 50vh;
                justify-content: center;
                flex-wrap: wrap;
                align-items: center;
                flex-direction: row;

                #visited-restaurant-recommendation-block {
                    border-radius: $main_border_radius;
                    border-color: black;
                    border-style: solid;
                    flex-direction: column;
                    margin-right: 1em;
                    padding-top: 1em;
                    justify-content: center;
                    padding-bottom: 1em;
                    text-align: center;
                    min-width: 20vw;
                    min-height: auto;
                }

                #not-visited-restaurant-recommendation-block {
                    border-radius: $main_border_radius;
                    border-color: black;
                    border-style: solid;
                    flex-direction: column;
                    justify-content: center;
                    padding-top: 1em;
                    padding-bottom: 1em;
                    text-align: center;
                    min-width: 42.5vw;
                    height: auto;

                    div {
                        flex-direction: row;
                        height: auto;
                        width: 100%;
                        justify-content: space-evenly;

                        div {
                            flex-direction: column;
                            justify-content: space-evenly;
                            width: 50%;
                        }
                    }
                }

                #one-recommendation-block, #only-not-visited-restaurant-recommendation-block {
                    border-radius: $main_border_radius;
                    border-color: black;
                    border-style: solid;
                    flex-direction: column;
                    justify-content: center;
                    padding-top: 1em;
                    padding-bottom: 1em;
                    text-align: center;
                    min-width: 60vw;
                    height: auto;

                    div {
                        flex-direction: row;
                        height: auto;
                        width: 100%;
                        justify-content: space-evenly;

                        div {
                            flex-direction: column;
                            justify-content: space-evenly;
                            width: 33.333333%;
                        }
                    }
                }
            }
        }
    }

    section.section-07-restaurant-details {
        display: flex;
        /* As there will be cards inside */
        justify-content: center;
        flex-wrap: wrap;
        /* Very important for designing the content which doesn't fits */

        position: absolute;
        min-height: 92vh;
        width: 100%;
        background-color: $main_back_color;
        transform: translateY(8vh);

        #back-to-results-container {
            margin-top: 2em;
            margin-right: 1em;

            button {
                padding-top: 0.4em;
                padding-bottom: 0.4em;
                padding-left: 1.2em;
                padding-right: 1.2em;
            }
        }

        #restaurant-div {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: flex-start;

            text-align: center;
        }

        #restaurant-details-div {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: flex-start;

            margin-top: 2em;

            .tab-content {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                flex-direction: column;
                align-items: center;

                width: 100%;
                margin-top: 2em;
                margin-bottom: 2em;
            }

            #coupon {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                flex-direction: row;
                align-items: center;

                button {
                    margin-right: 3em;
                }
            }
        }

        #restaurant-details-tabs-tab-ratingsReviewsKey,
        #restaurant-details-tabs-tab-menuKey,
        #restaurant-details-tabs-tab-visitorsKey,
        #restaurant-details-tabs-tab-couponKey {
            text-align: center;
            display: block;
            color: black;
            border-radius: $main_border_radius;
            margin-left: 1em;
            margin-right: 1em;
            border: none;
            width: 15vw;
        }

        #restaurant-details-tabs-tab-ratingsReviewsKey.active,
        #restaurant-details-tabs-tab-menuKey.active,
        #restaurant-details-tabs-tab-visitorsKey.active,
        #restaurant-details-tabs-tab-couponKey.active {
            color: rgb(203, 135, 8);
            border: none;
            background: rgba(0, 0, 0, 0)
        }
    }

    section.section-08-find-friends {
        display: flex;
        /* As there will be cards inside */
        justify-content: center;
        flex-wrap: wrap;
        /* Very important for designing the content which doesn't fits */

        position: absolute;
        height: 92vh;
        width: 100%;
        background-color: $main_back_color;
        transform: translateY(8vh);



    }

    section.section-09-profile-of-friends {
        display: flex;
        /* As there will be cards inside */
        justify-content: center;
        flex-wrap: wrap;
        /* Very important for designing the content which doesn't fits */

        position: absolute;
        height: 92vh;
        width: 100%;
        background-color: $main_back_color;
        transform: translateY(8vh);



    }

    section.section-10-analytics {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;

        position: absolute;
        height: 92vh;
        width: 100%;
        background-color: $main_back_color;
        transform: translateY(8vh);
        padding-top: 2em;

        .tab-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            #pie-div {
                max-height: 70vh;
            }

            #line-div {
                max-height: 70vh;
                width: 70vw;
            }

            #bar-div {
                max-height: 70vh;
                width: 70vw;
            }

            p {
                margin-top: 2em;
            }
        }

        .nav-tabs {
            --bs-nav-tabs-link-active-border-color: #dee2e6 $main_back_color #dee2e6;
        }

        #analytics-tabs-tab-cuisine-distribution,
        #analytics-tabs-tab-unique-restaurants,
        #analytics-tabs-tab-frequently-visited-restaurants {
            text-align: center;
            display: block;
            color: black;
            border-radius: $main_border_radius;
            margin-left: 1em;
            margin-right: 1em;
            border: none;
            width: 20vw;
        }

        #analytics-tabs-tab-cuisine-distribution.active,
        #analytics-tabs-tab-unique-restaurants.active,
        #analytics-tabs-tab-frequently-visited-restaurants.active {
            color: rgb(203, 135, 8);
            border: none;
            background: rgba(0, 0, 0, 0)
        }
    }

    section.section-11-front-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;

        position: absolute;
        height: 92vh;
        width: 100%;
        background-color: $main_back_color;
        transform: translateY(8vh);

        div#front-page-background {
            background-image: url("../../../public/assets/front-page-background.png");
            background-size: cover;
            height: 100%;
            width: 100vw;
            opacity: 50%;
        }

        div#front-page-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: #f0c273b4;
            padding: 5em 5em;
            border-radius: 3em;
            border-width: 1em;

            h1,
            h3 {
                color: #54321d;
            }

            h1#front-page-title {
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-size: 7em;
                text-align: center;
            }

            h3#slogan {
                text-align: center;
                margin-bottom: 5vh;
            }

            div {
                display: flex;
                justify-content: center;
                align-items: center;

                button {
                    margin: 0 5vw;
                    height: 5em;
                    padding: 1em 1em;
                    width: 30vw;
                    border-style: none;

                    h2 {
                        margin-bottom: 0px;
                    }
                }

                #front-page-signup {
                    background-color: #7FBA00;
                }

                #front-page-login {
                    background-color: coral;
                }
            }
        }
    }
}
