/*
Team member's notes goes over here:



*/

$main_back_color: #faf6f2;
$main_border_radius: 5px;
$main_border_width: 1px;
$main_button_color: rgba(255, 201, 115, 0.938);
$microsoft_green: #7FBA00;
$google_red: #de5246;
$facebook_blue: #4267B2;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 130;
}

body {
    /* Defining properties that will be common to the all the elements of the body */
    padding: 0;
    margin: 0;

    /* Defining Navigation Bar here */
    nav {
        height: 8vh;
        width: 100%;
        z-index: 99;
        /* Setting the highest z-index to keep it on top of all the elements who also have postition:absolute */

        position: fixed;
        overflow: hidden;

        top: 0;
        background-color: #F8C165;
        transition: 0.5s;

        div.div-nav-menu-items {
            height: 100%;
            max-height: 100%;
            display: flex;
            align-items: center;
            justify-content: right;

            ul {
                list-style: none;
                /* To remove the bullets in front of the nav menu items */
                position: absolute;

                li {
                    display: inline-block;
                    /* To display the li items next to each other */
                    padding: 1vh;
                }
            }
        }
    }

    button {
        border-color: black;
        border-width: $main_border_width;
        border-radius: $main_border_radius;
    }

    button:hover {
        filter: brightness(110%);
    }

    input {
        padding-left: 10px;
        padding-right: 10px;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .line-break {
        border: 10x solid black;
    }

    section.section-01-log-in {
        display: flex;
        /* As there will be cards inside */
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        /* Very important for designing the content which doesn't fits */
        align-items: center;

        position: absolute;
        height: 92vh;
        width: 100%;
        background-color: $main_back_color;
        transform: translateY(8vh);

        h1 {
            margin-bottom: 0.5em;
        }

        h5 {
            margin-top: 1em;
            margin-bottom: 1em;
        }

        #log-in-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;

            height: 60vh;
            width: 40vw;
            border-style: solid;
            border-width: thin;
            border-color: black;
            border-radius: 5px;

            #default-log-in {
                form {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;

                    text-align: center;

                    input {
                        margin-top: 0.7em;
                        margin-bottom: 0.7em;
                        margin-left: 0.7em;
                        margin-right: 0.7em;
                        height: 2.5em;
                        width: 23em;
                    }

                    input:nth-child(2) {
                        margin-bottom: 0.1em;
                    }

                    h6 {
                        font-size: 0.6em;
                    }

                    #log-in-submit {
                        border-color: black;
                        border-width: $main_border_width;
                        border-radius: $main_border_radius;
                        background-color: $main_button_color;
                    }

                    #log-in-submit:hover {
                        filter: brightness(110%);
                    }
                }
            }

            #provider-log-in {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;

                height: 2.5em;
                width: 100%;

                button {
                    margin-top: 0.7em;
                    margin-bottom: 0.7em;
                    margin-left: 0.3em;
                    margin-right: 0.3em;
                    height: 2.5em;
                    width: 11em;
                }

                #microsoft-log-in {
                    background-color: $microsoft_green;
                }

                #google-log-in {
                    background-color: $google_red;
                }

                #facebook-log-in {
                    background-color: $facebook_blue;
                }
            }

            margin-bottom: 2em;
        }

        .line-break {
            width: 50%;
            text-align: center;
            border-bottom: 1px solid grey;
            line-height: 0.1em;

            span {
                background: $main_back_color;
                padding-left: 2em;
                padding-right: 2em;
            }
        }

        #switch-to-sign-up {
            margin-top: 2em;
            height: 2.5em;
            width: 23em;
            background-color: $main_button_color;
        }
    }

    section.section-02-sign-up {
        display: flex;
        /* As there will be cards inside */
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        /* Very important for designing the content which doesn't fits */
        align-items: center;

        position: absolute;
        height: 92vh;
        width: 100%;
        background-color: $main_back_color;
        transform: translateY(8vh);

        h1 {
            margin-bottom: 0.5em;
        }

        h5 {
            margin-top: 1em;
            margin-bottom: 1em;
        }

        #sign-up-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;

            height: 60vh;
            width: 40vw;
            border-style: solid;
            border-width: thin;
            border-color: black;
            border-radius: 5px;

            #default-sign-up {
                form {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;

                    text-align: center;

                    input {
                        margin-top: 0.7em;
                        margin-bottom: 0.7em;
                        margin-left: 0.7em;
                        margin-right: 0.7em;
                        height: 2.5em;
                        width: 23em;
                    }

                    input:nth-child(2) {
                        margin-bottom: 0.1em;
                    }

                    h6 {
                        font-size: 0.6em;
                    }

                    #sign-up-submit {
                        border-color: black;
                        border-width: $main_border_width;
                        border-radius: $main_border_radius;
                        background-color: $main_button_color;
                    }

                    #sign-up-submit:hover {
                        filter: brightness(110%);
                    }
                }
            }

            #provider-sign-up {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;

                height: 2.5em;
                width: 100%;

                button {
                    margin-top: 0.7em;
                    margin-bottom: 0.7em;
                    margin-left: 0.3em;
                    margin-right: 0.3em;
                    height: 2.5em;
                    width: 11em;
                }

                #microsoft-sign-up {
                    background-color: $microsoft_green;
                }

                #google-sign-up {
                    background-color: $google_red;
                }

                #facebook-sign-up {
                    background-color: $facebook_blue;
                }
            }

            margin-bottom: 2em;
        }

        .line-break {
            width: 50%;
            text-align: center;
            border-bottom: 1px solid grey;
            line-height: 0.1em;

            span {
                background: $main_back_color;
                padding-left: 2em;
                padding-right: 2em;
            }
        }

        #switch-to-log-in {
            margin-top: 2em;
            height: 2.5em;
            width: 23em;
            background-color: $main_button_color;
        }
    }

    section.section-03-user-profile {
        display: flex;
        /* As there will be cards inside */
        justify-content: center;
        flex-wrap: wrap;
        /* Very important for designing the content which doesn't fits */

        position: absolute;
        height: 92vh;
        width: 100%;
        background-color: $main_back_color;
        transform: translateY(8vh);



    }

    section.section-04-dashboard {
        display: flex;
        /* As there will be cards inside */
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        /* Very important for designing the content which doesn't fits */

        position: absolute;
        height: 92vh;
        width: 100%;
        background-color: $main_back_color;
        transform: translateY(8vh);

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        #daily-choice {
            flex: 1;
            flex-direction: row;
        }

        #todays-results {
            flex: 1;
        }

        button {
            margin: 0 1em;
            padding: 1em 1em;
        }

        // TODO: control which div is hidden
        .hidden {
            display: none;
        }
    }

    section.section-05-main-search-criterias {
        display: flex;
        /* As there will be cards inside */
        justify-content: center;
        flex-wrap: wrap;
        /* Very important for designing the content which doesn't fits */

        position: absolute;
        height: 92vh;
        width: 100%;
        background-color: $main_back_color;
        transform: translateY(8vh);



    }

    section.section-06-restaurant-results {
        display: flex;
        /* As there will be cards inside */
        justify-content: center;
        flex-wrap: wrap;
        /* Very important for designing the content which doesn't fits */

        position: absolute;
        height: 92vh;
        width: 100%;
        background-color: $main_back_color;
        transform: translateY(8vh);



    }

    section.section-07-restaurant-details {
        display: flex;
        /* As there will be cards inside */
        justify-content: center;
        flex-wrap: wrap;
        /* Very important for designing the content which doesn't fits */

        position: absolute;
        height: 92vh;
        width: 100%;
        background-color: $main_back_color;
        transform: translateY(8vh);



    }

    section.section-08-find-friends {
        display: flex;
        /* As there will be cards inside */
        justify-content: center;
        flex-wrap: wrap;
        /* Very important for designing the content which doesn't fits */

        position: absolute;
        height: 92vh;
        width: 100%;
        background-color: $main_back_color;
        transform: translateY(8vh);



    }

    section.section-09-profile-of-friends {
        display: flex;
        /* As there will be cards inside */
        justify-content: center;
        flex-wrap: wrap;
        /* Very important for designing the content which doesn't fits */

        position: absolute;
        height: 92vh;
        width: 100%;
        background-color: $main_back_color;
        transform: translateY(8vh);



    }

    section.section-10-analytics {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;

        position: absolute;
        height: 92vh;
        width: 100%;
        background-color: $main_back_color;
        transform: translateY(8vh);
        padding-top: 2em;

        .tab-content {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;

          #pie-div {
            max-height: 70vh;
          }
          #line-div {
            max-height: 70vh;
            width: 70vw;
          }
          #bar-div {
            max-height: 70vh;
            width: 70vw;
          }
          p {
            margin-top: 2em;
          }
        }

        .nav-tabs {
          --bs-nav-tabs-link-active-border-color: #dee2e6 $main_back_color #dee2e6;
        }

        #analytics-tabs-tab-cusine-distribution,
        #analytics-tabs-tab-unique-restaurants,
        #analytics-tabs-tab-frequently-visited-restaurants {
          text-align: center;
          display: block;
          color: grey;
          border-radius: $main_border_radius;
          margin-left: 1em;
          margin-right: 1em;
          border: none;
          width: 20vw;
        }

        #analytics-tabs-tab-cusine-distribution.active,
        #analytics-tabs-tab-unique-restaurants.active,
        #analytics-tabs-tab-frequently-visited-restaurants.active {
          color: rgb(203, 135, 8);
          border: none;
          background: rgba(0, 0, 0, 0)
        }
    }

}
